<?php
return [
    'phpPath' => 'php',
    'scriptPath' => '/var/www/application/public/',
    'logPath' => '/var/www/application/logs/',
    'jobs' => [
        [
            'command' => 'index.php application cron mail',
            'schedule' => '*/5 * * * *',
            'logPrefix' => 'cron/mail/'
        ]
    ],

    // timeout in seconds for the process, defaults to 600 seconds
    'timeout' => 850
];
